[gcode_macro CANCEL_PRINT]

description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  ## Move head and retract only if not already in the pause state and park set to true

  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}

gcode:
    SET_DISPLAY_TEXT MSG="Print canceled"
    	G91 							                    # Relative positioning
        M140 S0 						                    # Turn-off bed
    	M104 S0
    	G90 							                    # Absolute positioning
    	G1 Z30 X280 Y300 F3000 E-5.00			                    # Present print
    	G1 E3.00 F6000 

    SET_DISPLAY_TEXT MSG="Wiping Poop"
	STATUS_WIPING
        WIPE_NOZZLE						                    # Wiping nozzle
       	UPDATE_DELAYED_GCODE ID=filter_off DURATION=300		# 3 minutes
    	M84 						                    # Disable all steppers but Z
