[heater_bed]
##  SSR Pin - HEATBED
##  Thermistor - TH1
heater_pin: PG11
sensor_type: Generic 3950
sensor_pin: PA2
pullup_resistor: 2200
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.96
min_temp: 0
max_temp: 110

control: pid
pid_Kp=62.180 
pid_Ki=2.126 
pid_Kd=454.692
