[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  ## Move head and retract only if not already in the pause state and park set to true

  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}

  M106 S0
  ## Move bed to front
  G1 Z10 ;Raise Z more
  ## G91 ;Absolute positioning
  G90 ;Relative positioning
  G1 X0 Y0 F5000 ;Present print
  ##
  M84 X Y E ;Disable all steppers but Z
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE
